@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'SF Pro Text',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #1d1d1f;
  background: #ffffff;
}
